include kml_files/run.sh
include kml_files/run_docker.sh
include kml_files/load_data/reference/df_mt.pkl
include kml_files/load_data/reference/bk8_porog.txt
include kml_files/load_data/reference/region_matching.txt
include kml_files/load_data/reference/ro_mt_matching_final.txt
include kml_files/test_data/data.csv
include kml_files/kml_files/test_data/df_vigo_203_3G_test.csv
include kml_files/kml_files/test_data/df_vigo_204_4G_test.csv
include kml_files/kml_files/test_data/df_vigo_test.csv
include Dockerfile
include log_main.json
include kml_files/config/config.yaml
include requirements.txt
include kml_files/config/kqis.yaml
